.skills {
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
}