.about {
    background-color: var(--secondary);
    color: var(--alcohol);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0 100px 0;

    p {
        max-width: 550px;
        font-size: 20px;
        font-family: 'Poppins-Light';
    }

    img {
        max-width: 300px;
        max-height: 500px;
        border-radius: 10px;
    }
}

@media (max-width: 426px) {
    .about {
        p {
            max-width: 90%;
        }
    }
}