.header {
    background-color: var(--primary);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .navigation {
        font-family: 'Poppins-Bold', sans-serif;
        
        ul {
            display: flex;
            gap: 30px;
            
            li {
                color: var(--alcohol);    
                border-bottom: 1px solid transparent;
                padding-bottom: 3px;
                font-size: 24px;
            }

            li:hover {
                border-color: #fff;
            }
        }
    }
}