.header {
    background-color: var(--primary);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .navigation {
        font-family: 'Poppins-Bold', sans-serif;
        
        ul {
            display: flex;
            gap: 30px;
            
            li {
                color: var(--alcohol);    
                font-size: 24px;
                
                a {
                    padding-bottom: 3px;
                    position: relative;
                }

                .underline::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    animation: underlineWidth .4s;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: var(--alcohol);
                }

                @keyframes underlineWidth {
                    0% {
                        width: 0;
                    }50% {
                        width: 100%;
                    }
                }
            }

            
        }
    }
}