.home-screen {
  background-color: var(--secondary);
  background-image: radial-gradient(
      circle 50px at 15% 30%,
      rgba(255, 255, 255, 0.2),
      transparent
    ),
    radial-gradient(
      circle 50px at 90% 85%,
      rgba(255, 255, 255, 0.2),
      transparent
    ),
    radial-gradient(
      circle 50px at 5% 90%,
      rgba(255, 255, 255, 0.2),
      transparent
    ),
    radial-gradient(
      circle 50px at 50% 40%,
      rgba(255, 255, 255, 0.2),
      transparent
    );

  background-repeat: no-repeat;
  height: 100vh;

  main {
    height: 80%;

    .home-screen-presentation {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      .text-area {
        width: 50%;

        h2 {
          font-size: 35px;
          font-family: "Poppins-Bold", sans-serif;
          color: var(--ruby);
          text-shadow: 0 0 0.2em var(--ruby);
          text-align: center;

          span {
            font-family: "Poppins-Bold", sans-serif;
            font-size: 25px;
            text-shadow: none;
            color: var(--alcohol);
          }
        }

        .name {
          color: var(--alcohol);
          font-size: 50px;
          font-family: "Poppins-Black", sans-serif;
          text-align: center;
        }

        h3 {
          font-size: 30px;
          font-family: "Poppins-Bold", sans-serif;
          color: var(--ruby);
          text-shadow: 0 0 0.2em var(--ruby);
          text-align: center;
          margin-bottom: 50px;
        }
      }
    }

    p {
      font-size: 16px;
      font-family: "Poppins-Light";
      color: var(--alcohol);
      align-self: center;
    }

    .box-img {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 1;
      width: 300px;
      height: 300px;
      border-radius: 100%;
      overflow: hidden;
      border: 6px solid var(--ruby);
      box-shadow: 0px 0px 10px 4px var(--ruby);

      img {
        max-width: 300px;
        max-height: 500px;
      }
    }
  }
}

@media (max-width: 426px) {
  .home-screen {
    padding-bottom: 80px;

    .home-screen-presentation {
      text-align: center;
      padding: 6px;
    }
  }
}
