@font-face {
    font-family: 'Poppins-Light';
    src: local('Poppins'), url(./fonts/Poppins/Poppins-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: local('Poppins'), url(./fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-black';
    src: local('Poppins'), url(./fonts/Poppins/Poppins-Black.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}