:root {
    --primary: #171c23;
    --secondary: #21272f;
    --tertiary: #88949b;
    --alcohol: #f0fcf9;
    --ruby: #29d882;
    --secondaryRuby: #00bd95;
}

@font-face {
    font-family: 'Poppins-Light';
    src: local('Poppins'), url(./fonts/Poppins/Poppins-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: local('Poppins'), url(./fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-black';
    src: local('Poppins'), url(./fonts/Poppins/Poppins-Black.ttf) format('truetype');
}

body::-webkit-scrollbar {
    width: 18px;
}

body::-webkit-scrollbar-track {
    background: #171c23;
}

body::-webkit-scrollbar-thumb {
    background-color: #31393d;
    border-radius: 20px;
    border: 4px solid #171c23;
}

body {
    scrollbar-width: thin;
    scrollbar-color: #171c23 #31393d;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}